/* This makes the default configs of html disappear */
/* @tailwind base; */
/* This makes css styles to use @apply in themselves */
@tailwind components;
/* This makes adding utilities into the project possible */
@tailwind utilities;

/* If @tailwind base; is commented, use these */
body {
	@apply m-0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

img {
	@apply w-full object-cover;
}
